/Obj
/Temp
/Library
Assets/UnityVS/
*.svd
*.apk
*.exe
*.sln
*.suo
*.csproj

!Library/*.asset
!Library/AssetImportState
!Library/AssetServerCacheV3
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/expandedItems
!Library/guidmapper
!Library/s!cripMapper
!Library/EditorUserBuildSettings.asset
!Library/EditorUserSettings.asset
!Library/metadata/


# OS and Shell generated
.Trashes
Thumbs.db